@import url("pages_tab.css");

/* ---------- Main ------------- */

/* search_bar */

.search_bar_box {
    position: relative;
    width:1200px;
    height:60px;
    margin:auto;
    z-index:1;
}

.search_bar {
    position: absolute;
    height:40px;
    top:20px;
    right: 20px;
}

/* table */

.table_box {
    position:relative;
    width:1200px;
    margin:0 auto 120px;
}

.table {
    border-collapse: collapse;
    line-height: 2.0;
    text-align: center;
    width:1040px;
    margin:60px auto;
}

.table_th {
    border-top:5px solid #222;
    border-bottom:1px solid #222;
    height:40px;
    box-sizing:border-box;
}

.table_th th{
    padding:0 15px 0 15px;
}

.table th:nth-child(1) {
    border-top:5px solid red;
    border-bottom:1px solid red;
}


.table tr td:nth-child(1){
    width:80px;
}

.table tr td:nth-child(2){
    width:160px;
}
.table tr td:nth-child(3){
    width:480px;
}
.table tr td:nth-child(4){
    width:160px;
}
.table tr td:nth-child(5){
    width:160px;
}

.table tr:nth-child(odd){
    background:#eee;
}

.table_box .write_button{
    position:absolute;
    bottom:-100px;
    right:100px;
    margin-top:40px;
    font-size:28px;
}
.table td {
    padding:8px 0px;
}

/* page_move */

.page_move_box {
    width:1200px;
    margin:0 auto 100px;
    position:relative;
}

.page_move {
    text-align:center;
    margin: auto;
    width:760px;
}

.page_move a{
    font-size:24px;
    margin:0 5px 0 5px;
}