.menu_tab_square {
    width:1200px;
    margin:auto;
}
.menu_tab_box {
    width:1200px;
    height:80px;
}
.menu_tab {
    display:flex;
    width: 810px;
    height: 80px;
    background:#444;
    box-sizing: border-box;
    position:relative;
    top:30px;
    left:10px;
}
.box_blank {
    width:30px;
    height:80px;
    border-right:1px solid white;
}
.menu_tab h3 {
    box-sizing: border-box;
    width:120px;
    height:80px;
    padding:18px 0;
    text-align:center;
    border-right:1px solid white;
}
.menu_tab h3 a {
    display:block;
    width:48px;
    height:48px;
    text-indent: -9999px;
    background:url('/volleyball/images/home.png') no-repeat;
    background-size:contain;
    margin:auto;
}
.menu_box {
    box-sizing:border-box;
    width:330px;
    height:80px;
}
#box1 {
    border-right:1px solid white;
}
.menu_box li{
    box-sizing: border-box;
    width:330px;
    height:80px;
    cursor:pointer;
    display:block;
    color:white;
    font-size:36px;
    padding:14px 30px;
}
.menu_box li:hover {
    background-color: red;
}
.menu_box li a{
    display:block;
    color:white;
    font-size:36px;
}
.menu_box .not_selected {
    background-color:#666;
    position:relative;
    z-index:10;
    display:none;
}





/* query */

.query {
    width:1200px;
    height:280px;
    border-bottom:1px solid #222;
    margin: auto;
    position: relative;
}

.query h3 {
    box-sizing: border-box;
    padding-top:120px;
    text-align:center;
    font-size:64px;
}