@import url("pages_tab.css");

/* ---------- Main ------------- */

/* form */

.form_container {
    width: 1200px;
    margin: auto;
    position: relative;
}

.btn_box {
    margin-top: 60px;
    margin-left: 780px;
}

.form_container button {
    width:150px;
    padding-bottom:20px;
    background-color: red;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding:6px 24px;
    margin-right:12px;
}

.title_box {
    margin-top: 24px;
    margin-left: 72px;
}

.title_box label{
    font-size:24px;
    margin-right:8px;
}
.title_box input{
    font-size:24px;
    width:480px;
}

.form_container textarea {
    margin: 24px 0 120px 72px;
    font-size: 1.6em;
}
.form_container textarea::placeholder {
    font-size:1.6em;
}