@import url("pages_tab.css");

/* ---------- Main ------------- */

/* form */

.form_container {
    width: 1200px;
    margin: auto;
    position: relative;
}

.btn_box {
    margin-top: 60px;
    margin-left: 780px;
}

.form_container button {
    width:150px;
    padding-bottom:20px;
    background-color: red;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding:6px 24px;
    margin-right:12px;
}

.title_box {
    margin-top: 24px;
    margin-left: 72px;
}

.title_box label{
    font-size:24px;
    margin-right:8px;
}
.title_box input{
    font-size:24px;
    width:480px;
}

.form_container textarea {
    width:1060px;
    margin: 24px 0 12px 72px;
    font-size: 1.6em;
}
.form_container textarea::placeholder {
    font-size:1.6em;
}

.answer_area {
    box-sizing:border-box;
    padding:20px 0 20px;
    width:1074px;
    margin: 0px 0px 120px 72px;
    border: 1px solid gray;
}

.answer_title {
    padding:6px 12px;
    font-size: 16px;
    background-color:rgb(239,123,126);
    color: white;
}

.answer_content {
    margin-left:20px;
    display:inline-block;
    font-size: 16px;
}